 <div class="panel panel-primary">
  <div class="panel-heading"><%= @event.name %></div>

  <div class="panel-body">

    <p>Name: <%= @event.name %></p>
    <p>Host: <%= @event.description %></p>

    <hr>
    <p>Number Guests: <%= @event.capacity %></p>
    <hr>



    <p>Location: <%= @event.location %></p>
    <p>Date: <%= @event.starts_at %></p>

    <br>
    <br>

    <p>Price: <%= @event.price %></p>
    <p>Capacity: <%= @event.capacity %></p>

    <p>Food included: <%= @event.includes_food %></p>
    <p>Drinks included: <%= @event.includes_drinks %></p>

    <br>

    <p>Status: <%= @event.active %></p>

    <br>
    <br>

    <!-- Photos -->
<h4>Photos</h4>
<% @event.photos.each do |photo| %>
<div class="panel panel-default">
  <div class="panel-heading">
    <%= image_tag photo.image.thumbnail %>
  </div>
</div>
<% end %>

    <!--<p>Categories: <%#= @event.active %></p>-->

    <h4>Categories</h4>
    <% @categories.each do |cate| %>
      <span class="label label-success"><%= cate.name %></span>
    <% end %>



  </div>

</div>

<%= link_to "Back", events_path, class: "btn btn-default" %>
